/* Common Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.btn-theme {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    border: 0;
}

.title {
    text-align: center;
    margin-bottom: 48px;
}

.title h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.title p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    max-width: 594px;
    margin: 24px auto 0 auto;
}

/* Header related styles */
header {
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 180px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content h1 {
    font-size: 80px;
    font-weight: 800;
    color: #272727;
    max-width: 730px;
}

.banner-content p {
    margin: 32px 0;
    color: rgba(39, 39, 39, 0.60);
    line-height: 30px;
    font-size: 18px;
    max-width: 615px;
}

/* Features related styles */
.features {
    margin-bottom: 130px;
}

.features-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
}

.flower {
    text-align: center;
}

.flower a {
    display: inline-block;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-transform: capitalize;
}

.flower-image {
    height: 540px;
    display: flex;
    align-items: flex-end;
    border-radius: 300px 300px 0px 0px;
    width: 465px;
    justify-content: center;
    margin-bottom: 32px;
}

.bg-flower-6 {
    background: rgba(167, 33, 98, 0.15);
}

.bg-flower-5 {
    background: rgba(5, 151, 160, 0.15);
}

.bg-flower-5 img {
    margin-bottom: 50px;
}

.bg-flower-7 {
    background: rgba(71, 125, 17, 0.15);
}

/* Service related styles */
.service {
    margin-bottom: 130px;
}

.service-content {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
    padding: 86px 0;
}

.service-content p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 24px;
}

/* Offer related styles */
.offer {
    margin-bottom: 130px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 0;
}

.offer-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.offer-details {
    text-align: center;
}

.offer-details h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.offer-details h3 span {
    color: #E55473;
}

.offer-details p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    max-width: 594px;
    margin-bottom: 32px;
}
/* Instagram related styles */
.instagram {
    margin-bottom: 130px;
}
.instagram-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

/* Flower Expert related styles */
.flower-expert {
    margin-bottom: 130px;
}
.flower-expert-images {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}

/* Latest Deal Related Styles */
.latest-deal {
    margin-bottom: 130px;
}
.latest-deal-content {
    background-image: url('../image/rectangle-9.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.latest-deal p {
    margin-top: 16px;
}
.latest-deal form {
    margin: 0 auto;
    width: 865px;
}
.latest-deal form input[type="email"] {
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    margin: 0 auto;
    width: 74%;
    margin-right: 16px;
    padding-left: 22px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
}
/* Footer related styles */
footer {
    background: #111010;
    padding: 130px 0;
    text-align: center;
}
footer h4{
    color: #E55473;
font-size: 48px;
font-weight: 800;
}
footer span {
    color: #fff;
}
footer .content {
    max-width: 625px;
    margin: 24px auto 32px auto;
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    line-height: 30px;
}
.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}